snippet beg "begin{} / end{}" bA
\begin{$1}
	$0
\end{$1}
endsnippet

snippet ime "inline math environment" A
\($1.\)
endsnippet

snippet bls "\\[\baselineskip]" A
\\\\[\baselineskip]
$1
endsnippet

snippet mat2 "a 2x2 matrix" A
\begin{pmatrix}
$1 & $2 \\\\
$3 & $4
\end{pmatrix}
endsnippet
